<p class="cart-attribute__field">
    <label for="klant-nummer">Klant Nummer</label>
    <input required class="required" id="klant-nummer" type="text" name="attributes[Klant Nummer]" value="{{ cart.attributes["Klant Nummer"] }}">
</p>