<p class="cart-attribute__field">
    <label for="klant-nummer">Klant Nummer</label>
    <input required class="required" id="klant-nummer" type="number" name="attributes[Klant Nummer]" data-max="6" value="{{ cart.attributes["Klant Nummer"] }}">
    <input type="text" inputmode="numeric" pattern="\d*" />

</p>