<p class="cart-attribute__field">
    <label for="klant-nummer">Klant Nummer</label>
    <input required class="required" id="klant-nummer" type="number" name="attributes[Klant Nummer]" maxlength="6" max="999999" value="{{ cart.attributes["Klant Nummer"] }}">
</p>