<p class="cart-attribute__field">
  <p>uw klanten nummer is terug te vinden bovenaan op een factuur. Dit is verplicht in te vullen bij een aankoop van 'Coins' en stelt ons in staat de bestelling aan de juiste klant te koppelen. De correctheid van deze gegevens wordt toevertrouwd aan de klant.</p>
    <label for="klant-nummer">Klant Nummer</label>
    <input required class="required" id="klant-nummer" type="text" name="attributes[Klant Nummer]" inputmode="numeric" pattern="\d*" placeholder="000000" min="0" max="999999" value="{{ cart.attributes["Klant Nummer"] }}" style="width: 3em"/>
</p>